﻿
@{
    ViewData["Title"] = "Index";
}

<h1>Danh Sách Hóa Đơn</h1>
<table id="tbReceipt">
</table>

@section css {
    <link href="~/lib/node_modules/datatables.net-dt/css/jquery.dataTables.min.css" rel="stylesheet" />

}

@section scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/node_modules/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/js/Receipt/Receipt.js"></script>
}