﻿@model IEnumerable<LibraryManagement.Models.Reponse.Book.BookView>

@{
    ViewData["Title"] = "Index";
}

<h1>Thư Viện Sách</h1>

<p>
    <a class="btn btn-outline-primary" onclick="book.showModal()"><i class="fa fa-plus"></i></a>
</p>

<table id="tbBook" class="table table-bordered">
</table>

<div class="modal" id="addEditBook">
    <div class="modal-dialog">
        <div class="modal-content">
            <form asp-action="Save" asp-controller="Book">
                
                <div class="modal-header">
                    <h4 class="modal-title">Thêm Sách</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <div class="modal-body">
                    <div class="row form-group">
                        <div class="col-md-4">
                            <label class="control-label">Mã sách</label>
                        </div>
                        <div class="col-md-8 ">
                            <input type="text" required class="form-control" id="BookCode" name="BookCode" />
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-4">
                            <label class="control-label">Tên sách</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" class="form-control" id="BookName" name="BookName" />
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-4">
                            <label class="control-label">Thể loại</label>
                        </div>
                        <div class="col-md-8">
                            <select required class="form-control" id="Category" name="IDCategory"></select>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-4">
                            <label class="control-label">NXB</label>
                        </div>
                        <div class="col-md-8 ">
                            <select class="form-control" id="PublishingCompany" name="IDPublishingCompany"></select>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-4">
                            <label class="control-label">Năm xuất bản</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" required class="form-control" id="Publishdate" name="Publishdate" />
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-4">
                            <label class="control-label">Tác giả</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" required class="form-control" id="Author" name="Author" />
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-4">
                            <label class="control-label">Số trang</label>
                        </div>
                        <div class="col-md-8">
                            <input type="number" required class="form-control" id="NumberOfPage" name="NumberOfPage" />
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-4">
                            <label class="control-label">Giới thiệu</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" required class="form-control" id="Introduce" name="Introduce" />
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-4">
                            <label class="control-label">Số lượng</label>
                        </div>
                        <div class="col-md-8">
                            <input type="number" required class="form-control" id="AmountAvailable" name="AmountAvailable" />
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-4">
                            <label class="control-label">Danh mục</label>
                        </div>
                        <div class="col-md-8">
                            <select required class="form-control" id="Catalog" name="IDCatalog"></select>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-4">
                            <label class="control-label">Phân loại</label>
                        </div>
                        <div class="col-md-8">
                            <select required class="form-control" id="Status" name="Status">
                                <option value="True">Mượn/Trả</option>
                                <option value="False">Đọc</option>
                            </select>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-4">
                            <label class="control-label">Hàng</label>
                        </div>
                        <div class="col-md-8">
                            <select required class="form-control" id="Row" name="IDRow"></select>
                        </div>
                    </div>
                    @*<div class="row form-group">
                        <div class="col-md-4">
                            <label class="control-label">&nbsp;Ảnh</label>
                        </div>
                        <div class="col-md-6 custom-file">
                            <input type="file" required class="form-control custom-file-input" id="Avatar" name="Avatar" />
                            <label class="custom-file-label">Choose file...</label>
                        </div>
                    </div>*@
                </div>
                
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Close</button>
                    <a href="javascript:void(0);" class="btn btn-outline-success" onclick="book.save()">Save</a>
                </div>
            </form>
        </div>
    </div>
</div>


@section css{
    <link href="~/lib/datatable/datatables.net-dt/css/jquery.dataTables.min.css" rel="stylesheet" />
}

@section scripts{
    <script src="~/lib/datatable/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/datatable/datatables.net/js/jquery.dataTables.min.js"></script>

    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/datatable/book.js"></script>
}