﻿@model PokemonCode.Models.Request.Pokemon.PokemonCreate

@{
    ViewData["Title"] = "AddPokemon";
}

<h1>Thêm Pokemon</h1>

<p>
    <a href="javascript:void(0);" class="btn btn-dark" style="color:white" onclick="pokemon.showModal()">Add Pokemon</a>
</p>

<table class="table table-hover table-sm table-striped">
    <thead class="thead-dark">
        <tr>
            <th>
                <lable class="col-form-label">PokemonCode</lable>
            </th>
            <th>
                <lable class="col-form-label">PokemonName</lable>
            </th>
            <th>
                <lable class="col-form-label">Type</lable>
            </th>
            <th>
                <lable class="col-form-label">Gender</lable>
            </th>
            <th>
                <lable class="col-form-label">Height</lable>
            </th>
            <th>
                <lable class="col-form-label">Weight</lable>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="tbPokemon">
    </tbody>
</table>

<!-- The Modal -->
<div class="modal" id="addEditModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Add Pokemon</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            @*//disabled, readonly không cho phép sưa*@
            <!-- Modal body -->
            <div class="modal-body">
                <div class="row form-group" hidden>
                    <div class="col-md-3">
                        <label>ID</label>
                    </div>
                    <div class="col-md-9">
                        <input class="form-control" id="PokemonID" name="PokemonID" required data-msg-required="This field is required" min-length="10" />
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-3">
                        <label>CodeEmployees</label>
                    </div>
                    <div class="col-md-9">
                        <input class="form-control" id="PokemonCode" name="PokemonCode" required data-msg-required="This field is required" min-length="10" />
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-3">
                        <label>Firstname</label>
                    </div>
                    <div class="col-md-9">
                        <input class="form-control" id="PokemonName" name="PokemonName" required data-msg-required="This field is required" min-length="10" />
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-3">
                        <label>LastName</label>
                    </div>
                    <div class="col-md-9">
                        <input class="form-control" id="Height" name="Height" required data-msg-required="This field is required" />
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-3">
                        <label>DateOfBirth</label>
                    </div>
                    <div class="col-md-9">
                        <input class="form-control" id="Weight" name="Weight" required data-msg-required="This field is required" />
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-3">
                        <label>DayToDo</label>
                    </div>
                    <div class="col-md-9">
                        <input uib-datepicker class="form-control" id="DayToDo" name="DayToDo" type="text" required data-msg-required="This field is required">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-3">
                        <label>Gender</label>
                    </div>
                    <div class="col-md-9">
                        <select class="form-control" id="Gender" name="Gender" required data-msg-required="This field is required">
                            <option value="1">Nam</option>
                            <option value="0">Nữ</option>
                        </select>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-3">
                        <label>Type</label>
                    </div>
                    <div class="col-md-9">
                        <select multiple class="form-control" id="Gender" name="Gender" required data-msg-required="This field is required">
                            <option value="1">Nam</option>
                            <option value="0">Nữ</option>
                        </select>
                    </div>
                </div>

            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                <a href="javascript:void(0);" class="btn btn-success" onclick="pokemon.save()">Save</a>
            </div>

        </div>
    </div>
</div>

@section Scripts{

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/moment/moment.min.js"></script>
    <script src="~/js/pokemon.js"></script>
}