﻿
@{
    ViewData["Title"] = "Index";
    //var types = new List<PokemonCode.Models.Request.Type.TypeItem>();
    //types = ViewBag.Types;

}

<h1>Danh sách Pokemon</h1>

<p>
    <a href="javascript:void(0);" class="btn btn-dark" style="color:white" onclick="pokemon.showModal()">Add Pokemon</a>
</p>
<table id="tbPokemon" class="table">
    <thead class="thead-dark">
        
    </thead>
    <tbody>

    </tbody>
</table>

<!-- The Modal -->
<div class="modal" id="addEditPokemon">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Thêm Pokemon</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="row form-group" hidden>
                    <div class="col-md-4">
                        <label class="control-label">ID Pokemon</label>
                    </div>
                    <div class="col-md-8 ">
                        <input type="text" required class="form-control" id="PokemonID" name="PokemonID" />
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-4">
                        <label class="control-label">Mã Pokemon</label>
                    </div>
                    <div class="col-md-8 ">
                        <input type="text" required class="form-control" id="PokemonCode" name="PokemonCode" />
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-4">
                        <label class="control-label">Tên Pokemon</label>
                    </div>
                    <div class="col-md-8 ">
                        <input type="text" required class="form-control" id="PokemonName" name="PokemonName" />
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-4">
                        <label class="control-label">Hệ</label>
                    </div>
                    <div class="col-md-8" >
                        <select class="select " style="width:100%" id="TypeID" name="TypeID" multiple="multiple" required data-msg-required="This field is required">
                            @*@foreach (var type in types)
                            {
                                <option value="@type.TypeID" selected="@type.TypeID == TypeID">@type.TypeName</option>
                            }*@

                        </select>
                    </div>
                    @*<div class="col-md-8 ">
                <input type="text" required class="form-control" id="TypeName" name="TypeName" />
            </div>*@
                </div>
                <div class="row form-group">
                    <div class="col-md-4">
                        <label class="control-label">Cao</label>
                    </div>
                    <div class="col-md-8 ">
                        <input type="text" required class="form-control" id="Height" name="Height" />
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-4">
                        <label class="control-label">Cân Nặng</label>
                    </div>
                    <div class="col-md-8 ">
                        <input type="text" required class="form-control" id="Weight" name="Weight" />
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-4">
                        <label>Gender</label>
                    </div>
                    <div class="col-md-3">
                        <select class="form-control" id="Gender" name="Gender" required data-msg-required="This field is required">
                            <option value="1">Đực</option>
                            <option value="0">Cái</option>
                        </select>
                    </div>
                </div>
                @*<div class="row form-group">
            <div class="col-md-4">
                <label class="control-label">Hình ảnh</label>
            </div>
            <div class="col-md-8 ">
                <input type="text" required class="form-control" id="Avatar" name="Avatar" />
            </div>
        </div>*@
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                <a href="javascript:void(0);" class="btn btn-success" onclick="pokemon.save()">Save</a>
            </div>
        </div>
    </div>
</div>
@section css{
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link href="~/lib/node_modules/datatables.net-dt/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/lib/select2/css/select2.min.css" rel="stylesheet" />
}
@section scripts{


    <script src="~/lib/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/node_modules/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/select2/js/select2.min.js"></script>
    <script src="~/js/pokemon.js"></script>
}
