﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewData["Title"] = "Index";
}

<h1>Danh sách nhân viên</h1>

<p>
    <a href="javascript:void(0);"  class=" "@*style="color:white"*@ onclick="employee.showModal()"><i class="fa fa-plus"></i> Thêm Nhân Viên</a>
</p>

<table class="table table-hover table-sm table-striped">
    <thead class="thead-dark">
        <tr>
            <th style="width:200px">
                <lable class="col-form-label">Mã số nhân viên</lable>
            </th>
            <th>
                <lable class="col-form-label">Họ và tên</lable>
            </th>
            
            <th>
                <lable class="col-form-label">Ngày sinh</lable>
            </th>
            <th>
                <lable class="col-form-label">Giới tính</lable>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="tbEmployee">
    </tbody>
</table>

<!-- The Modal -->
<div class="modal" id="addEditModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Add Employee</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            @*//disabled, readonly không cho phép sưa*@
            <!-- Modal body -->
            <div class="modal-body">
                <form id="addEditForm">
                    <div class="row form-group" hidden>
                        <div class="col-md-3">
                            <label>ID</label>
                        </div>
                        <div class="col-md-9">
                            <input class="form-control" id="ID" name="ID" required data-msg-required="This field is required" min-length="10" />
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-3">
                            <label>Mã số nhân viên</label>
                        </div>
                        <div class="col-md-9">
                            <input class="form-control" id="CodeEmployees" name="CodeEmployees" required data-msg-required="This field is required" min-length="10" />
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-3">
                            <label>Firstname</label>
                        </div>
                        <div class="col-md-9">
                            <input class="form-control" id="Firstname" name="Firstname" required data-msg-required="This field is required" min-length="10" />
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-3">
                            <label>LastName</label>
                        </div>
                        <div class="col-md-9">
                            <input class="form-control" id="LastName" name="LastName" required data-msg-required="This field is required" />
                        </div>
                    </div>
                    <div class="row form-group" hidden>
                        <div class="col-md-3">
                            <label>Họ và tên</label>
                        </div>
                        <div class="col-md-9">
                            <input class="form-control" id="Fullname" name="Fullname" required data-msg-required="This field is required" />
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-3">
                            <label>Ngày sinh</label>
                        </div>
                        <div class="col-md-9">
                            <input class="form-control" id="DateOfBirth" name="DateOfBirth" type="text" required data-msg-required="This field is required" />
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-3">
                            <label>Ngày vào làm</label>
                        </div>
                        <div class="col-md-9">
                            <input uib-datepicker class="form-control" id="DayToDo" name="DayToDo" type="text" required data-msg-required="This field is required">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-3">
                            <label>Giới tính</label>
                        </div>
                        <div class="col-md-9">
                            @*<input class="form-control" id="Gender" name="Gender" required data-msg-required="This field is required">*@
                            <select class="form-control" id="Gender" name="Gender" required data-msg-required="This field is required">
                                <option value="1">Nam</option>
                                <option value="0">Nữ</option>
                            </select>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-3">
                            <label>Địa chỉ</label>
                        </div>
                        <div class="col-md-9">
                            <input class="form-control" id="Adress" name="Adress" required data-msg-required="This field is required" />

                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-3">
                            <label>Số điện thoại</label>
                        </div>
                        <div class="col-md-9">
                            <input class="form-control" id="PhoneNumber" name="PhoneNumber" type="tel" required data-msg-required="This field is required" />

                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-3">
                            <label>Email</label>
                        </div>
                        <div class="col-md-9">
                            <input class="form-control" id="Email" name="Email" type="email" required data-msg-required="This field is required" />
                        </div>
                    </div>
                </form>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                <a href="javascript:void(0);" class="btn btn-success" onclick="employee.save()">Save</a>
            </div>

        </div>
    </div>
</div>

@section Scripts{

    @*<script src="~/lib/jquery/dist/jquery.js"></script>*@
    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>*@
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/moment/moment.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/js/employee/employee.js"></script>

}