﻿@model LibraryManagement.Models.Reponse.Receipt.ReceiptView

@{
    ViewData["Title"] = "CreateReceiptDetail";
}

<h1>Chi Tiết Biên Lai</h1>

<div>
    
    <hr />
    <dl class="row">
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ID)
        </dd>*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodeReceipt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodeReceipt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodeStudent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodeStudent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BorrowDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BorrowDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AppointmentDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AppointmentDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IDEmployee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IDEmployee)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>*@
    </dl>
</div>
<div>
    @Html.ActionLink("Chọn Sách", "SelectBook", new {  id = Model.IDLibraryCard }) 
    
</div>
