﻿@*@model IEnumerable<LibraryManagement.Models.Reponse.LibraryCard.LibraryCardView>
@using LibraryManagement.Models.Request.LibraryCard;
@{
    ViewData["Title"] = "Index";
}

<h1>Library Card</h1>

<form method="post" class="form-inline" asp-controller="LibraryCard" asp-action="Index" style="margin-bottom: 20px">
    <div class="border badge-pill bs-popover-auto border-primary">
        <div>
            <input type="text" name="keyword" class=" badge-pill border-0" />
            <button class="text-info btn btn-outline-light border-0">
                <i class="fa fa-search"></i>
            </button>
        </div>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodeStudent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IDStudent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfViolate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpirationDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodeStudent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IDStudent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfViolate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusStr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpirationDate)
            </td>
            <td>
                @Html.ActionLink("Xem Chi Tiết ", "LibraryCardDetail","LibraryCard", new { id = item.ID }) |               
                @Html.ActionLink("Tạo Phiếu Mượn", "CreateReceipt","LibraryCard", new { IDLC = item.ID })|
                @Html.ActionLink("Xem Phiếu Mượn", "ViewReceipt","LibraryCard", new { IDLC = item.ID })
            </td>
        </tr>
}
    </tbody>
</table>*@
