﻿@{
    ViewData["Title"] = "Index";
}


<h1>Danh Sách Thẻ Thư Viện</h1>
@*<div>
        <a href="javascript:void(0);" class="btn btn-dark" style="color:white" onclick="librarycards.showModal()">Thêm Th? Thu Vi?n</a>
    </div>*@
<table id="tblibrarycard" class="table table-hover table-sm table-striped">
</table>
<!-- The Modal -->
<div class="modal" id="addEditLibraryCard">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Thêm Thẻ Thư Viện</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="row form-group" hidden>
                    <div class="col-md-3">
                        <label>ID</label>
                    </div>
                    <div class="col-md-9">
                        <input class="form-control" disabled id="ID" name="ID" required data-msg-required="This field is required" min-length="10" />
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-3">
                        <label>Mã Sinh Viên</label>
                    </div>
                    <div class="col-md-9">
                        <input class="form-control" disabled id="CodeStudent" name="CodeStudent" required data-msg-required="This field is required" min-length="10" />
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-3">
                        <label>Họ</label>
                    </div>
                    <div class="col-md-9">
                        <input class="form-control" disabled id="Firstname" name="Firstname" required data-msg-required="This field is required" min-length="10" />
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-3">
                        <label>Tên</label>
                    </div>
                    <div class="col-md-9">
                        <input class="form-control" disabled id="LastName" name="LastName" required data-msg-required="This field is required" />
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-3">
                        <label>Ngày Sinh</label>
                    </div>
                    <div class="col-md-9">
                        <input class="form-control" disabled id="DateOfBirth" name="DateOfBirth" type="text" data-msg-required="This field is required" />
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-3">
                        <label>Giới Tính</label>
                    </div>
                    <div class="col-md-9">
                        <input class="form-control" disabled id="Gender" name="Gender" required data-msg-required="This field is required" />
                        @*<select class="form-control" id="Gender" name="Gender" required data-msg-required="This field is required">
                            <option value="True">Nam</option>
                            <option value="False">Nữ</option>
                        </select>*@
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-3">
                        <label>Địa Chỉ</label>
                    </div>
                    <div class="col-md-9">
                        <input class="form-control" disabled id="Adress" name="Adress" required data-msg-required="This field is required" />
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-3">
                        <label>Số Điện Thoại</label>
                    </div>
                    <div class="col-md-9">
                        <input class="form-control" disabled id="PhoneNumber" name="PhoneNumber" required data-msg-required="This field is required" />
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-3">
                        <label>Email</label>
                    </div>
                    <div class="col-md-9">
                        <input class="form-control" disabled id="Email" name="Email" required data-msg-required="This field is required" />
                    </div>
                </div>

            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>                
            </div>
        </div>
    </div>
</div>
@section css{
    <link href="~/lib/node_modules/datatables.net-dt/css/jquery.dataTables.min.css" rel="stylesheet" />
}
@section scripts{

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/node_modules/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/moment/moment.min.js"></script>
    <script src="~/js/libraryCards/LibraryCards.js"></script>
}

