﻿@model IEnumerable<LibraryManagement.Models.Reponse.Book.BookView>

@{
    ViewData["Title"] = "SelectBook";
}

<h1>Select Book</h1>

<form method="post" class="form-inline" asp-controller="LibraryCard" asp-action="SelectBook" style="margin-bottom: 20px">
    <div class="border badge-pill bs-popover-auto border-primary">
        <div>
            <input type="text" name="keyword" class=" badge-pill border-0" />
            <button class="text-info btn btn-outline-light border-0">
                <i class="fa fa-search"></i>
            </button>
        </div>
    </div>
</form>

<a asp-action="ViewBorrowBookByIDReceipt" asp-controller="LibraryCard" asp-route-id="@ViewBag.IDReceipt">Kiểm Tra</a>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>           
            @*<th>
                @Html.DisplayNameFor(model => model.Avatar)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>           
            @*<td>
                @Html.DisplayFor(modelItem => item.Avatar)
            </td>*@
            <td>
                @Html.ActionLink("Chọn", "CreateBookBorrow","LibraryCard", new {  id = item.ID }) 
            </td>
        </tr>
}
    </tbody>
</table>
