﻿@model IEnumerable<LibraryManagement.Models.Request.LibraryCard.ViewBorrowBookByIDReceipt>

@{
    ViewData["Title"] = "ViewBorrowBookNotReturn";
}



<table class="table">
    <thead>
        <tr>
            @*<th>
                @Html.DisplayNameFor(model => model.ID)
            </th>*@
            @*<th>
                @Html.DisplayNameFor(model => model.IDReceipt)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.BookCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.NumberBorrow)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.CodeReceipt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BorrowDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReturnDay)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @*<td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IDReceipt)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.BookCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.NumberBorrow)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.CodeReceipt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusStr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BorrowDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReturnDay)
            </td>
          
        </tr>
}
    </tbody>
</table>
<p>
    @Html.ActionLink("Quay Lại", "Index", "Receipt", new { id = ViewBag.ID })
</p>
