﻿@model IEnumerable<LibraryManagement.Models.Request.LibraryCard.LibraryCardBookBorrow>

@{
    ViewData["Title"] = "ViewBookBorrowByIDLC";
}

<h1>View Book Borrow By IDLC</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IDBook)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberBorrow)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IDReceipt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodeReceipt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BorrowDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AppointmentDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IDBook)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberBorrow)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IDReceipt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodeReceipt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BorrowDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppointmentDate)
            </td>
            <td>
                @Html.ActionLink("Trả Sách", "ReturnBook","LibraryCard", new { IDBook = item.IDBook,IDReceipt = item.IDReceipt }) |
                @Html.ActionLink("Gia Hạn", "Details","LibraryCard", new { /* id=item.PrimaryKey */ }) |               
            </td>
        </tr>
}
    </tbody>
</table>
