﻿@model IEnumerable<LibraryManagement.Models.Request.LibraryCard.ViewBorrowBookByIDReceipt>

@{
    ViewData["Title"] = "ViewBorrowBookFollowReceipt";
}

<h1>Xem Sách Của Phiếu Mượn</h1>


<table class="table">
    <thead>
        <tr>
            @*<th>
            @Html.DisplayNameFor(model => model.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IDReceipt)
        </th>*@
            <th>
                @Html.DisplayNameFor(model => model.BookCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            @*<th>
            @Html.DisplayNameFor(model => model.CodeReceipt)
        </th>*@
            @*<th>
            @Html.DisplayNameFor(model => model.IDLibraryCard)
        </th>*@
            <th>
                @Html.DisplayNameFor(model => model.BorrowDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AppointmentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            @*<td>
            @Html.DisplayFor(modelItem => item.ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IDReceipt)
        </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.BookCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            @*<td>
            @Html.DisplayFor(modelItem => item.CodeReceipt)
        </td>*@
            @*<td>
            @Html.DisplayFor(modelItem => item.IDLibraryCard)
        </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.BorrowDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppointmentDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusStr)
            </td>
            <td>
                @Html.ActionLink("Trả Sách", "ReturnBook", "LibraryCard", new { IDBook = item.ID, IDReceipt = item.IDReceipt })
            </td>
        </tr>
        }
    </tbody>
</table>
<p>
    @Html.ActionLink("Quay Lại", "ViewReceipt","LibraryCard", new { id = ViewBag.ID }) 
</p>
