﻿@model IEnumerable<LibraryManagement.Models.Reponse.Receipt.ReceiptView>

@{
    ViewData["Title"] = "ViewReceipt";
}

<h1>Xem Phiếu Mượn Của Thẻ</h1>

<table class="table">
    <thead>
        <tr>
            @*<th>
            @Html.DisplayNameFor(model => model.ID)
        </th>*@
            <th>
                @Html.DisplayNameFor(model => model.CodeReceipt)
            </th>
            <th>
            @Html.DisplayNameFor(model => model.CodeStudent)
        </th>
            <th>
                @Html.DisplayNameFor(model => model.BorrowDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AppointmentDate)
            </th>
            @*<th>
            @Html.DisplayNameFor(model => model.IDEmployee)
        </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
          
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @*<td>
            @Html.DisplayFor(modelItem => item.ID)
        </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.CodeReceipt)
            </td>
            <td>
            @Html.DisplayFor(modelItem => item.CodeStudent)
        </td>
            <td>
                @Html.DisplayFor(modelItem => item.BorrowDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppointmentDate)
            </td>
            @*<td>
            @Html.DisplayFor(modelItem => item.IDEmployee)
        </td>*@
            
            <td>
                @Html.DisplayFor(modelItem => item.StatusStr)
            </td>
            <td>
                @Html.ActionLink("Xem Sách Mượn", "ViewBorrowBookFollowReceipt", "LibraryCard", new { id = item.ID }) |
                @Html.ActionLink("Gia Hạn", "UpdateAppointmentDate", "LibraryCard", new { AppointmentDate = item.AppointmentDate, IDReceipt = item.ID }) |
                @Html.ActionLink("Đã Trả", "DeleteReceipt", "LibraryCard", new { IDReceipt = item.ID })
            </td>
        </tr>
}
    </tbody>
</table>
<p>
    @Html.ActionLink("Quay Lại", "Index","LibraryCard")
</p>
