﻿@model IEnumerable<LibraryManagement.Models.Request.LibraryCard.ViewBorrowBookByIDReceipt>

@{
    ViewData["Title"] = "ViewBorrowBookByIDReceipt";
}

<h1>View Borrow Book By IDReceipt</h1>

<p>
    <a asp-action="SelectBook" asp-controller="LibraryCard" asp-route-id="@ViewBag.ID">Chọn Sách</a>
</p>
<table class="table">
    <thead>
        <tr>
            @*<th>
                    @Html.DisplayNameFor(model => model.ID)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.BookCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberBorrow)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodeReceipt)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.IDLibraryCard)
                </th>*@
            <th></th>
        </tr>
    </thead>



    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @*<td>
                        @Html.DisplayFor(modelItem => item.ID)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.BookCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BookName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberBorrow)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CodeReceipt)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.IDLibraryCard)
                    </td>*@
                <td>
                    @Html.ActionLink("Hủy", "CancelBookBorrow","LibraryCard", new { IDBook = item.ID }) 
                    
                </td>
            </tr>
        }

    </tbody>
</table>
<p>
    <a asp-action="Index" asp-controller="LibraryCard">Xác Nhận |</a>
    <a asp-action="CancelReceipt" asp-controller="LibraryCard" asp-route-IDReceipt="@ViewBag.IDReceipt">Hủy Bỏ</a>
</p>
